-- Create classes table
CREATE TABLE IF NOT EXISTS public.classes (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  description TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Create junction table for assignments and classes
CREATE TABLE IF NOT EXISTS public.assignment_classes (
  assignment_id UUID NOT NULL REFERENCES public.assignments(id) ON DELETE CASCADE,
  class_id UUID NOT NULL REFERENCES public.classes(id) ON DELETE CASCADE,
  PRIMARY KEY (assignment_id, class_id)
);

-- Enable RLS
ALTER TABLE public.classes ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.assignment_classes ENABLE ROW LEVEL SECURITY;

-- Policies for classes
DO \$\$ 
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'classes' AND policyname = 'Users can view their own classes') THEN
    CREATE POLICY \
Users
can
view
their
own
classes\ ON public.classes FOR SELECT USING (auth.uid() = user_id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'classes' AND policyname = 'Users can create their own classes') THEN
    CREATE POLICY \Users
can
create
their
own
classes\ ON public.classes FOR INSERT WITH CHECK (auth.uid() = user_id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'classes' AND policyname = 'Users can update their own classes') THEN
    CREATE POLICY \Users
can
update
their
own
classes\ ON public.classes FOR UPDATE USING (auth.uid() = user_id);
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'classes' AND policyname = 'Users can delete their own classes') THEN
    CREATE POLICY \Users
can
delete
their
own
classes\ ON public.classes FOR DELETE USING (auth.uid() = user_id);
  END IF;
END \$\$;

-- Policies for assignment_classes
DO \$\$ 
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'assignment_classes' AND policyname = 'Users can view their assignment_classes') THEN
    CREATE POLICY \Users
can
view
their
assignment_classes\ ON public.assignment_classes FOR SELECT USING (
      EXISTS (
        SELECT 1 FROM public.assignments
        WHERE assignments.id = assignment_classes.assignment_id
        AND assignments.user_id = auth.uid()
      )
    );
  END IF;
  IF NOT EXISTS (SELECT 1 FROM pg_policies WHERE tablename = 'assignment_classes' AND policyname = 'Users can manage their assignment_classes') THEN
    CREATE POLICY \Users
can
manage
their
assignment_classes\ ON public.assignment_classes FOR ALL USING (
      EXISTS (
        SELECT 1 FROM public.assignments
        WHERE assignments.id = assignment_classes.assignment_id
        AND assignments.user_id = auth.uid()
      )
    );
  END IF;
END \$\$;
